.btn {
    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4.5rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all 0.2s;
      position: relative;
  
      border: none;
    }
  
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
      &::after {
        transform: scaleX(1.2) scaleY(1.4);
        opacity: 0;
      }
    }
  
    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 0.5rem rgba(var(--black), 0.2);
    }
  
    &--white {
      background-color: var(--white);
      color: #000;
      &::after {
        background-color: var(--white)
      }
    }

    &--yellow{
      background-color: var(--primary-yellow);
    }
  
    // &--orange {
    //   background-color: $color-primary-medium;
    //   color: var(--white);
    //   &::after {
    //     background-color: $color-primary-medium;
    //   }
    // }
  
    &::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 10rem;
      display: inline-block;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  
    &--animate {
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
    }
  }
  
  .btn-text {
    &:link,
    &:visited {
      font-size: var(--default-font-size);
      color: lightblue;
      text-decoration: none;
      border-bottom: 2px solid lightblue;
      display: inline-block;
      padding: 2px;
      transition: all 0.2s;
    }
  
    &:hover {
      background-color:  lightblue;
      color: var(--white);
      transform: translateY(-2px);
      box-shadow: 0 1rem 1rem rgba(var(--black), 0.15);
    }
  
    &:active {
      transform: translate(0px);
      box-shadow: 0 0.5rem 0.5rem rgba(var(--black), 0.15);
    }
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }