@import "../../shared/variable.scss";

.toast {
  top: 0;
  position: fixed;
  z-index: 1000;
  right: 50%;
  transform: translateX(50%);
  min-width: 45%;

  @media only screen and (max-width: $sz-medium) {
    min-width: 100%;
  }
}

.toast-header {
  font-size: 1.5rem;
  height: 7rem;
  font-weight: 700;
  border-radius: 5px;
}

.toast-fail {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.toast-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.mr-auto,
.mx-auto {
  margin: 0 auto !important;
}
