$sz-largest: 75em; // 1200px tab-land
$sz-large: 68.75em; // 1100px
$sz-medium: 56.25em; // 900px tab-port
$sz-small: 37.5em; // 600px phone
$sz-smallest: 31.25em; // 500px
$sz-xsmall: 26.25em; // 380px iphoneX
//112.5em 1800+ lgDesktop

// :export {
//   sz-largest: $sz-largest; // 1200px
//   sz-large: $sz-large; // 1100px
//   sz-medium: $sz-medium; // 900px
//   sz-small: $sz-small; // 600px
//   sz-smallest: $sz-smallest; // 500px
//   sz-xsmall: $sz-xsmall; // 380px
// }